{% extends "base_login.html" %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
    
    <div class="d-flex align-items-center w-100 justify-content-center p-0 flex-column" style='height: 90vh;'>
        <img src="{% static "logo_oficial.jpg" %}" class='mb-4' style='width: 200px; heigth: 200px;' alt="Logo Merc">

        <form action="" class='w-50 p-4' method="post">
            {% csrf_token %}
            
            <div class='row'>
                <div class='col'>
                    <label for="email" class='font-weight-bold'>E-mail</label>
                    <input type="email" class='form-control col-12' name="email" id="email" required>
                </div>
                
                <div class='col'>
                    <label for="password" class='font-weight-bold'>Senha</label>
                    <input type="password" class='form-control' name="password" id="password">
                </div>
            </div>

            {% if Error %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    <strong>Erro!</strong> {{Error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <hr>

            <div class='d-flex flex-column'>
                <input type="submit" class='btn btn-primary font-weight-bold btn-sm w-50 align-self-center' value="Login" required>
            </div>

        </form>
    </div>

{% endblock content %} 

