{% extends "base_login.html" %}
{% load django_bootstrap5 %}


{% block content %}
    <form action="" class='d-flex align-items-center justify-content-center' style='height: 100vh' method="post">
        {% csrf_token %}

        <div class='p-4 w-50'>
            {% bootstrap_form form %}
            
            <hr>
            <div class='d-flex flex-column'>
                <input type="submit" class='btn btn-primary align-self-center' value="Cadastrar">
                <a href="{% url "login" %}" class='text-center'>já tem conta? Que tal se logar?</a>
            </div>
        </div>

    </form>
{% endblock content %}