{% extends "base_home.html" %}
{% load django_bootstrap5 %}

{% block conteudo %}

    <div class='card m-5'>

        <div class='d-flex align-items-center card-header font-weight-bold justify-content-between'>
            {{ title }}

            <a href="{% url "home:home" %}">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 512 512"
                    width='30'
                    height='30'
                >
                    <path d="M11.5 280.6l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2zm256 0l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2z"/>
                </svg>
            </a>
        </div>

        <div class='card-body'>
            <form action="" method="post">
                
                {% csrf_token %}
                
                {% bootstrap_form form exclude='product_choices' %}

                {% if form.product_choices %}
                    <div class="mb-3">
                        
                        <label class="form-label" for="id_product_choices">Categoria do Produto</label>
                        
                        <select name="product_choices" class="form-control" required="" id="id_product_choices">
                            {% for choices in form.product_choices  %}
                                {{ choices }}
                            {% endfor %}
                        </select>

                    </div>

                {% endif %}

                {% if form_stock.entered_at %}
                    <div>
                        
                        <label for="id_entered_at">Data de Entrada:</label>
                        <input type="date" name="entered_at" class='form-control' required="" id="id_entered_at">

                    </div>

                {% endif %}

                <br>
                {% bootstrap_form form_stock exclude='entered_at, leaved_at, product' %}
                
                <hr>
                <button class='btn btn-primary' type="submit">Enviar</button>
                <a href="{% url "product:listproduct" %}" class='btn btn-secondary'>
                    Atualizar Produtos
                </a>

            </form>
        </div>

    </div>

{% endblock conteudo %}